$separatorHeight = 5px
adminbarHeight = 44px

#adminmenu
  padding-bottom 32px
  padding-left 0
  list-style-type none
  margin 0
  height 100%
  transition padding .4s ease-in-out

  ul
    list-style-type none
    padding 0

  &_logo
    background-size 100% auto
    display block
    position relative
    margin 10px 20px
    font-size 22px
    line-height 48px
    font-weight 700
    text-align center
    overflow hidden

    img
    svg
      max-width 60%
      display inline-block
      vertical-align middle
      margin 0 auto

    a
      display block
      transition opacity .25s ease

      &:hover
        opacity 1

  &wrap
    position absolute 0 0 32px !important
    visibility visible
    z-index 4
    opacity 1

    &:hover
      #collapse-menu
        transform translateY(0)

    .menu
      $h = 32px

      &-top
        display inline-block
        padding 5px 10px
        transition color .1s ease, border-color .1s ease, font-size .4s ease-in-out

      &_settings
        display block
        height: $h
        text-align left
        position fixed
        bottom 0
        left 0
        transform: translateY($h)

        &:before
          right 0
          left auto

        button
          display block
          height: $h
          line-height: $h
          background transparent
          box-shadow none
          margin 0
          border-radius 0
          border 0
          padding 0

          opacity 0
          transform translateY(10px)
          transition all .2s ease-in-out

          &:before
            content attr(data-content)
            display block

        &:hover
          button
            opacity 1
            transform translateY(0)


  &main
    position fixed
    bottom 0 !important
    top: adminbarHeight !important
    z-index 3
    user-select none
    box-shadow inset -5px 0px 10px -5px rgba(black, .05)
    transition  min-width .4s cubic-bezier(0.35, -0.35, 0.3, 1.5),\
                max-width .4s cubic-bezier(0.35, -0.35, 0.3, 1.5),\
                transform .4s cubic-bezier(0.22, 0.61, 0.36, 1),\
                top .15s ease-in-out;
    transform translateX(-200px)

    +above(l)
      transform translateX(0)

  &back
    display none
    position absolute
    top 0
    bottom 0
    z-index -1

  li
    display block
    position relative
    margin 0
    max-width 100%

    a
      display block
      position relative
      text-decoration none

    &#collapse-menu
      position fixed
      z-index 1
      bottom 0
      size 32px
      transform translateY(32px)
      transition transform .15s ease-in-out

      &:last-child
        display none

    /* Hide the second collapse button generated by _wp_menu_output */
    &.menu-top
      white-space nowrap
      min-height 36px
      transition min-height .4s ease-in-out

      a
        transition color .15s linear, padding .4s ease-in-out

      &+li#collapse-menu
        display none

      > a.menu-close
        display block
        position absolute
        top 3px
        height 24px
        left -20px
        text-align center
        width 20px
        padding 0
        opacity 0
        transition opacity .15s ease-in-out

      &:hover
        > a.menu-close
          opacity .5

          &:hover
            opacity 1

    .wp-submenu
      &:before
        content ''
        border 5px solid transparent
        position absolute 10px auto auto -10px

      ul
        background none

      li
        position relative

        a
          &:before
            content '>'
            display inline-block
            vertical-align top
            margin-right 5px
            width 6px
            font-size 4px
            line-height 1
            transition font-size .1s ease-in-out

          &:hover
            &:before
              font-size 6px

        &:last-child
          margin-bottom 0
          border-bottom 0

      a
        padding 5px 0

    &:not(.wp-has-current-submenu)
      .wp-submenu
        position absolute
        margin 0
        z-index 5
        overflow visible
        word-wrap break-word
        min-width 160px

    &.wp-has-current-submenu
      > .wp-submenu
        transition: all .15s ease-in-out


  .wp-menu
    &-name
      position relative
      display inline-block
      vertical-align top
      transition opacity .2s ease-in-out, font-size .25s ease-in-out

    &-separator
      padding 0
      transition max-width .4s cubic-bezier(0.35, -0.35, 0.3, 1.5)

      &:last-child
        display none

      .separator
        display block
        height: $separatorHeight

      &+li.wp-menu-separator
        display none

    &-image
      display inline-block
      vertical-align top
      max-width 24px
      margin-right 5px
      text-align center
      transition: min-width .4s ease-in-out

      /*Some other plugins may display an image in here, so if we want to keep the interface in the same style, this must stay*/
      img
      br
        display none

body
  &.folded
    #adminmenu
      .resize_handle
      .menu_settings
      .menu-close
        display none

      li#collapse-menu
        left 0
        width 60px

      .opensub .wp-submenu,
      .wp-has-current-submenu .wp-submenu.sub-open,
      .wp-has-current-submenu a.menu-top:focus+.wp-submenu,
      .wp-has-current-submenu.opensub .wp-submenu,
      .wp-submenu.sub-open,
      a.menu-top:focus+.wp-submenu
        left 60px

  &.menu
    &-w
      #adminmenu
        a.menu-top
        .wp-submenu li.current
        .wp-submenu li.current a
        .wp-has-current-submenu > .wp-submenu ul > li > a
        .wp-has-current-submenu .wp-submenu a
          color rgba(white, .55)

        a.menu-top:hover
        .wp-submenu li.current a
        .wp-submenu li.current a:hover
        .wp-submenu li.current a:active
        .wp-menu-open .wp-submenu a:hover
        li.current a.menu-top .wp-menu-name
        .opensub .wp-menu-name
        .wp-menu-open.menu-top .wp-menu-name
        &_logo
        &_logo > a
          color white

        li.wp-menu-separator .separator
          background rgba(black, .25)

        &_logo svg *
          fill white
