#adminmenu
  padding-bottom 32px
  padding-left 0
  list-style-type none
  margin 0
  height 100%
  transition padding .4s ease-in-out

  ul
    list-style-type none
    padding 0

  .awaiting-mod
  .update-plugins
    position: absolute;
    display: block;
    z-index: 1;
    left: -15px;
    top: 1px;
    text-align: center;
    min-width: 10px;
    line-height: 10px;
    height: 10px;
    font-size: 0px;
    border-radius: 10px;
    zoom: 1;
    font-weight: 400;
    margin: 0;

    > span
      display: inline-block;
      height: 16px;
      vertical-align: top;
      width: 100%;
      line-height: 16px;

  &_logo
    background-size 100% auto
    display block
    position relative
    margin 10px 20px
    font-size 22px
    line-height 48px
    font-weight 700
    text-align center
    overflow hidden

    img
    svg
      max-width 60%
      display inline-block
      vertical-align middle
      margin 0 auto

    a
      display block
      transition opacity .25s ease

      &:hover
        opacity 1

    .resize_handle
      min-width: 6px;
      height: 24px;
      line-height: 24px;
      text-align: center;
      position: absolute;
      border-radius: 3px;
      z-index: 201;
      top: 49%;
      top: calc(50% - 12px);
      right: -3px;
      border-radius: 1px;
      text-align: center;
      opacity: 0;
      transition: opacity .15s ease-in-out, all .1s ease-in-out

      &:before
        font: 400 14px/24px FontAwesome
        content: '\f142'

      &:hover
        cursor: ew-resize;
        opacity: 1

  &wrap
    position absolute 0 0 32px !important
    visibility visible
    z-index 4
    opacity 1

    &:before
      margin 10px 24px

    &:hover
      #collapse-menu
        transform translateY(0)

      .resize_handle
        opacity 1

      .menu_settings
        transform: translateY(0)

    .menu
      $h = 32px

      &-top
        display inline-block
        padding 5px 10px
        transition color .1s ease, border-color .1s ease, font-size .4s ease-in-out

        +desktop()
          min-width 55%

      &_settings
        display block
        height: $h
        text-align left
        position fixed
        bottom 0
        left 0
        padding: 0 32px
        box-shadow: inset -5px -2px 10px -5px rgba(black, .5);
        transform: translateY($h)

        &:before
          content: '\e7c9';
          font: 400 16px/32px streamline;
          size: $h
          transition: color .3s ease-in-out;
          position: absolute;
          left: 0;
          top: 0

        button
          display block
          height: $h
          line-height: $h
          background transparent
          box-shadow none
          margin 0
          border-radius 0
          border 0
          padding 0

          opacity 0
          transform translateY(10px)
          transition all .2s ease-in-out

          &:before
            content attr(data-content)
            display block

        &:hover
          button
            opacity 1
            transform translateY(0)


  &main
    position fixed
    bottom 0
    top: adminbar.height
    z-index 3
    user-select none
    box-shadow inset -5px 0px 10px -5px rgba(black, .05)
    transition  min-width .4s cubic-bezier(0.35, -0.35, 0.3, 1.5),\
                max-width .4s cubic-bezier(0.35, -0.35, 0.3, 1.5),\
                transform .4s cubic-bezier(0.22, 0.61, 0.36, 1),\
                top .15s ease-in-out;
    transform translateX(-200px)

    +above(l)
      transform translateX(0)

  &back
    display none
    position absolute
    top 0
    bottom 0
    z-index -1

  li
    display block
    position relative
    margin 0
    max-width 100%

    a
      display block
      position relative
      text-decoration none

      .wp-menu-image
        &:before
          font: 400 18px/18px streamline;

    &:not(.wp-has-current-submenu)
      .wp-submenu
        position: absolute;
        margin: 0 0 20px;
        z-index: 90;
        overflow: visible;
        word-wrap: break-word;
        min-width: 160px;
        text-align: left;
        visibility hidden

    &.wp-has-submenu
      &:hover
        .wp-submenu
          opacity 1
          z-index 99999
          visibility visible
          transform translate(0, 0) scale(1)

    // &:not(.selected)
    //   > .wp-submenu
    //     max-height 0
    //     height 0
    //     overflow: hidden
    //     position: relative
    //     top 0
    //     left 0
    //     background transparent!important
    //     box-shadow none
    //     transform none
    //     padding-top 0
    //     padding-bottom 9
    //     transition max-height .15s ease-in-out

    &#collapse-menu
      position fixed
      z-index 1
      bottom 0
      size 32px
      transform translateY(32px)
      transition transform .15s ease-in-out

      &:last-child
        display none

    /* Hide the second collapse button generated by _wp_menu_output */
    &.menu-top
      white-space nowrap
      min-height 36px
      transition min-height .4s ease-in-out

      a
        transition color .15s linear, padding .4s ease-in-out

      &+li#collapse-menu
        display none

      > a.menu-close
        display block
        position absolute
        top 3px
        height 24px
        left -20px
        text-align center
        width 20px
        padding 0
        opacity 0
        transition opacity .15s ease-in-out

      &:hover
        > a.menu-close
          opacity .5

          &:hover
            opacity 1

    &:not(.wp-has-current-submenu)
      .wp-submenu
        position absolute
        margin 0
        z-index 5
        overflow visible
        word-wrap break-word
        min-width 160px

        &:before
          content ''
          border 5px solid transparent
          position absolute 10px auto auto -10px

    &.wp-has-current-submenu
      > .wp-submenu
        transition: all .15s ease-in-out

  #sticky_logout
    display none

  .wp
    &-submenu

      ul
        background none

      li
        position relative

        a
          padding 10px

          +desktop()
            padding 5px 10px

          &:before
            content: "\e695";
            display inline-block
            font: 400 4px/18px streamline;
            vertical-align middle
            margin-right 5px
            width 6px
            font-size 4px
            line-height 1
            transition font-size .1s ease-in-out
            -moz-osx-font-smoothing: grayscale;

          &:hover
            &:before
              font-size 6px

        &:last-child
          margin-bottom 0
          border-bottom 0


      a
        padding 5px 0

      .update-plugins
        right 10px
        top 8px

      &-head
        display none

    &-menu
      &-arrow
        display none

      &-name
        position relative
        display inline-block
        vertical-align top
        transition opacity .2s ease-in-out, font-size .25s ease-in-out

      &-separator
        padding 0
        transition max-width .4s cubic-bezier(0.35, -0.35, 0.3, 1.5)

        &:last-child
          display none

        .separator
          display block
          height: adminmenu.separator.height

        &+li.wp-menu-separator
          display none

      &-image
        display inline-block
        vertical-align top
        max-width 24px
        margin-right 5px
        text-align center
        transition: min-width .4s ease-in-out

        // default icon
        &:before
          font-family: streamline;
          content: '\e7e9';
          display: block;
          opacity: 1;
          text-decoration: inherit;
          text-transform: none;
          -moz-osx-font-smoothing: grayscale

        /*Some other plugins may display an image in here, so if we want to keep the interface in the same style, this must stay*/
        img
        br
          display none

body
  &.js
    #adminmenu
      .opensub
        .wp-submenu
          opacity: 1;
          z-index: 99999;
          visibility: visible;
          transform: translate(0, 0) scale(1)
  &.mobile
    #adminmenu
      position: absolute;
      width: 200px!important;
      z-index: 100;
      left: 0px;

      &main
      &wrap
      &back
        transform: translateX(-200px);

      &_logo
        .folded_logo
          display none

      #collapse-menu
      .resize_handle
        display none

      .update-plugins
        left: auto!important;
        right: 10px;
        top: 10px!important;

      li
        &.menu-top
          display: block;

          &.wp-has-submenu
            &:after
              content: '\e666';
              display: inline-block;
              font: 400 6px/24px streamline;
              position: absolute;
              top: 10px;
              vertical-align: middle;
              right: 8px;
              opacity: .6;

        &.selected
        &.wp-menu-open
        &.opensub
          > a
            &+.wp-submenu
              position: static;
              max-height: none!important;
              box-shadow: none;
              margin: 0;
              height: auto!important;
              opacity: 1;
              left: 0;
              z-index: 99999;
              visibility: visible;
              transform: translate(0, 0) scale(1)

        &.selected
          a.menu-top
            &.wp-has-submenu
              &:after
                content: '\e6aa';
                opacity: 1;

        &.opensub
          a.menu-top
            &.wp-has-submenu
              &:after
                display none

    .wp
      &-submenu
        &:before
          content ''
          display none

        a
          padding 10px

          &:before
            margin-left 10px

        .update-plugins
          position: static;
          display: inline-block;
          margin-left: 5px;
          vertical-align: middle;

      &-responsive-open
        #adminmenu
          &main
          &wrap
            transform: translateX(0);
            visibility: visible;
            z-index: 101;
            opacity: 1;
            display: block;

  &:not(.mobile)
    #adminmenu
      .update-plugins
        position: static;
        display: inline-block;
        vertical-align: middle;
        margin-left: 5px;

      .wp-not-current-submenu
        .update-plugins
          border none!important;
          size 6px !important;
          min-width 6px

    &:not(.folded)
      #adminmenu
        .wp-not-current-submenu
          .wp-submenu
            display inline
            left 60px

            +above(xl)
              left calc( 100% - 24px ) !important
              top 0

          &:hover
            > a
              &+.wp-submenu
                opacity: 1;
                z-index: 99999;
                visibility: visible;
                transform: translate(0, 0) scale(1)

        .wp-has-current-submenu
          .wp-submenu
            position: relative!important;
            z-index: 2;
            top: auto!important;
            left: 0!important;
            right: auto;
            bottom: auto;
            border: 0 none;
            margin: 0 0 10px 16px;

    &.auto-fold
      [class^="wp-menu-name"]
      [class*="wp-menu-name"]
        &:before
          width 32px

      .wrap
        > h1
        > h2
          &:first-child
            +above(m)
              left 60px

            +desktop()
              left 200px

      #adminmenu
        padding-left 0
        padding-right 0

        &wrap
        &main
        &back
          width: 60px
          z-index: 100;
          left: 0px;

          +desktop()
            width 200px

        li.menu-top
          margin 0
          width 60px

          +desktop()
            width auto

        &_logo
          > img
          > svg
          > a
            display none

        .awaiting-mod
        .update-plugins
          left auto
          right 4px

        .selected
          .wp-submenu
            height: auto;
            display: block;
            max-height: 400px;

        .wp-not-current-submenu
          .wp-submenu
            left: 60px;
            transform: translate(-50px, 0%) scale(0);

        .wp-has-current-submenu
          .wp-submenu
            top 2px
            z-index -1
            visibility hidden

            +desktop()
              z-index 2
              visibility visible

        .opensub .wp-submenu
        .wp-has-current-submenu .wp-submenu.sub-open
        .wp-has-current-submenu a.menu-top:focus+.wp-submenu
        .wp-has-current-submenu.opensub .wp-submenu
        .wp-submenu.sub-open
        a.menu-top:focus+.wp-submenu
          left 60px

        .wp-menu-name
          font-size 0

          +desktop()
            font-size 14px

      #overlay
      #wpfooter
        +above(m)
          left 60px

      #wpcontent
        +above(m)
          margin-left 60px

  &.folded
    #adminmenu
      .resize_handle
      .menu_settings
      .menu-close
        display none

      li#collapse-menu
        left 0
        width 60px

      .wp-submenu-head
        .update-plugins
          display none

      .opensub .wp-submenu,
      .wp-has-current-submenu .wp-submenu.sub-open,
      .wp-has-current-submenu a.menu-top:focus+.wp-submenu,
      .wp-has-current-submenu.opensub .wp-submenu,
      .wp-submenu.sub-open,
      a.menu-top:focus+.wp-submenu
        left 60px

    &:not(.mobile)
      #adminmenu
        .wp-menu-name
          opacity 0
          font-size 0
          visibility hidden

    #collapse-button
      width 60px

  &.focus-on
    #adminmenumain
      transform: translateX(-420px);

  &.wp-responsive-open
    .wrap
      & > h1
        &:first-child
          .hamburger
            #sticky-toggle
              stroke-dasharray: 500
              stroke-dashoffset: 1880
              stroke-width: 8
            #st-line
              &-top
                transform: rotate(45deg)
              &-bot
                transform: rotate(-45deg)
  &.menu
    &-sub
      &-b
        #adminmenu
          .wp-submenu
            li
              border-bottom 1px solid rgba(black, .1)
    &-w
      #adminmenu
        a.menu-top
        .wp-submenu li.current
        .wp-submenu li.current a
        .wp-has-current-submenu > .wp-submenu ul > li > a
        .wp-has-current-submenu .wp-submenu a
          color rgba(white, .55)

        a.menu-top:hover
        .wp-submenu li.current a
        .wp-submenu li.current a:hover
        .wp-submenu li.current a:active
        .wp-menu-open .wp-submenu a:hover
        li.current a.menu-top .wp-menu-name
        .opensub .wp-menu-name
        .wp-menu-open.menu-top .wp-menu-name
        &_logo
        &_logo > a
          color white

        li.wp-menu-separator .separator
          background rgba(black, .25)

        &_logo svg *
          fill white
