.postbox
.stuffbox
  border: 0
  border-radius: 5px
  box-shadow: none
  min-width 260px
  max-width 480px
  flex 1 1 360px
  transform: translateY(0)
  transition: all .3s ease-in-out

  .hndle
    cursor move
    display: block
    margin-bottom: 0
    padding: 10px

    &:hover
      padding-left 32px

    > span
      cursor pointer
      transition: border-color .15s linear, color .1s linear, opacity .2s ease-in-out

  .handlediv
    width: 50px
    position: absolute
    right: 0
    top: 0
    border: none
    border-radius: 0

    br
      display: none

    &:hover
      cursor: pointer

    &:before
      display: block
      content: '-'
      vertical-align: top
      text-align: center
      transition: color .15s ease-in-out

  &.closed
    .inside
      display: none

    .hndle
      border-radius 10px
      border-bottom: 0!important
      opacity: .5

    .handlediv
      &:before
        content: '+'

  .inside
    position: relative
    display: block
    padding: 20px
    transform: translate(0px, 0px), scale(1, 1)
    transition: transform .3s ease-in-out, opacity .3s ease-in-out, visibility 0s

    hr
      display none

body
  &.content
    &-b
      .postbox
      .stuffbox
        background: #fff
        border: 1px solid rgba(black, .1)

        .hndle
          border-bottom: 1px solid rgba(black, .05)

    &-w
      .postbox
      .stuffbox
        background: #000
        border: 1px solid rgba(255,255,255,.1)

        .hndle
          border-bottom: 1px solid rgba(white, .1)
