margins(value)
  padding-top: value
  margin-left: value
  margin-right: value

m = wrapC.marginsLR

.wrap
  margins(m.mobile)
  position: relative
  z-index: 25
  height: 100%
  min-height: 100%
  transition: all .2s ease-in-out, top .15s ease-in-out

  +above(l)
    margins(m.tablet)

  +desktop()
    margins(m.desktop)

  +hd()
    margins(m.hd)

  > h1
  > h2
    &:first-child
      display: block
      text-transform: none
      width: auto
      user-select: none
      line-height: 68px
      max-height: 68px
      z-index: 80
      position: absolute
      left: 0
      top: adminbar.height
      margin-top 0
      white-space: nowrap
      transition: all .2s ease-in-out, top .15s ease-in-out, line-height .15s ease-in-out, left .4s cubic-bezier(0.35, -0.35, 0.3, 1.5), right .4s cubic-bezier(0.35, -0.35, 0.3, 1.5), margin .4s cubic-bezier(0.22, 0.61, 0.36, 1), padding .2s ease-in
      padding: 0 m.mobile

      +above(l)
        padding: 0 m.tablet

      +desktop()
        padding: 0 m.desktop

      +hd()
        padding: 0 m.hd



body
  &.header
    &-small
      .wrap
        > h1
        > h2
          &:first-child
            line-height: 50px
            max-height: 50px
            font-size: 20px
            line-height: 50px
            max-height: 50px
            box-shadow: 0 2px rgba(black, .05)

    &-sticky
      .wrap
        > h1
        > h2
          &:first-child
            position: fixed!important
            right: 0

body:not(.header-sticky) .wrap > h1:first-child,
body:not(.header-sticky) .wrap > h2:first-child
  top: -68px
body.rtl .wrap > h1:first-child,
body.rtl .wrap > h2:first-child
  right: auto
  left: 0
