.button,
button,
a.button_link,
a.post_more_link,
#submit,
.wp-core-ui .button-primary,
.wp-core-ui .button,
.wp-core-ui .button-secondary,
input[type="submit"],
input[type="reset"],
input[type="button"]
  position relative
  cursor pointer
  display inline-flex
  flex-flow row nowrap
  width auto
  outline 0
  border-radius 5px
  font-size 13px
  line-height 24px
  border 1px solid transparent
  margin 0 auto
  padding 6px
  text-decoration none
  font-weight 500
  user-select none
  transition all .15s ease
  font-smoothing subpixel-antialiased

  +above(m)
    padding 8px

  +above(l)
    padding 8px 12px

  +above(xl)
    padding 8px 16px

  &:disabled
    cursor default

  &:not(.components-button)
    justify-content center
    align-items center /* safari */
    text-align center


a
  &.button-primary
    padding: 15px 30px
    font-size: 11px!important
    font-weight: 700!important
  &.save
    &.button-small
      &:before
        content: '\e7a0'
  &.imgedit-help-toggle
    text-decoration: none
  &.button
    &.browser
      line-height: 32px!important
  &.media-button-select
    margin-bottom: 0!important
    margin-top: 15px!important
