fallback = 'Helvetica'\, Arial\, sans-serif

typography = {
  headings:   'Fira Sans'\, fallback
  paragraphs: 'Roboto'\, fallback
  monospace: Consolas\, Monaco\, 'Andale Mono'\, 'Ubuntu Mono'\, monospace
}
